<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html lang="en" class="no-js" ng-app='MovieApp'>
<!--<![endif]-->

  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Fliqpick</title>
    <meta name="description" content="Responsive website">
    <meta name="keywords" content="responsive website">
    <meta name="author" content="site">


    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->

    <!--google fonts-->
    <script src="js/angular.min.js"></script>
    <script src="js/app.js"></script>
    <script src="js/angular-cookies.min.js"></script>
    <script type="js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="css/bootstrap.css">
    <link rel="stylesheet" href="css/style.css">
    <title>Moviepickr</title>

  </head>
  <body class="backcolor">
    <div ng-controller="MovieController as moviectrl">
      <div class="top">
      <h1>Choose your favorite movie {{greeting}}</h1>
      <h3 class="text-center">Movie Fight! Pick the best movie</h3>
      </div>
        <div class="row">
          <div class="col-md-5">
            <div class="text-center">
              <h4>{{ moviectrl.movieOne.Title }}
              ({{ moviectrl.movieOne.Year}})</h4>
              <button type="button" class="btn btn-success" ng-click="moviectrl.pickMovie($event)" data-value="Mov1">Pick Movie</button>
              <button type="button" class="btn btn-warning" ng-click="moviectrl.changeMovieOne()">I have not seen Movie</button>

            </div>
            <img class="img-responsive center-block picpad clickpic" ng-click="moviectrl.pickMovie($event)" data-value="Mov1" ng-src="posters/{{moviectrl.movieOne.Poster}}.jpg">
          </div>

          <div class="col-md-5">
            <div class="text-center">
              <h4>
              {{ moviectrl.movieTwo.Title}}
              ({{ moviectrl.movieTwo.Year}})</h4>
              <button type="button" class="btn btn-success" ng-click="moviectrl.pickMovie($event)" data-value="Mov2">Pick Movie</button>
              <button type="button" class="btn btn-warning" ng-click="moviectrl.changeMovieTwo()" data-value="Mov2">I have not seen Movie</button>
            </div>
          <img class="img-responsive center-block picpad clickpic" ng-click="moviectrl.pickMovie($event)" data-value="Mov2" ng-src="posters/{{moviectrl.movieTwo.Poster}}.jpg">
          </div>

          <div class="col-md-2 text-center">

              <div class="center">
                <a href="/toplist.html" class="btn btn-primary btn-lg active col-md-12 text-center botmarg" role="button" aria-pressed="true">Go to your Toplist</a>
                <div ng-if="moviectrl.oldMovieOne != ''">
                  <img class="img-responsive center-block picpad img-circle" ng-src="posters/{{moviectrl.oldMovieOne.Poster}}_small.jpg"
                  ng-if="moviectrl.picked == 'Mov1'">
                  <img class="img-responsive center-block picpad" ng-src="posters/{{moviectrl.oldMovieOne.Poster}}_small.jpg"
                  ng-if="moviectrl.picked != 'Mov1'">
                  <h2 class="text-center">{{moviectrl.pctMovieOne}}%</h2>
                  <h2 class="text-center">{{moviectrl.pctMovieTwo}}%</h2>
                  <img class="img-responsive center-block picpad img-circle" ng-src="posters/{{moviectrl.oldMovieTwo.Poster}}_small.jpg"
                  ng-if="moviectrl.picked == 'Mov2'">
                  <img class="img-responsive center-block picpad" ng-src="posters/{{moviectrl.oldMovieTwo.Poster}}_small.jpg"
                  ng-if="moviectrl.picked != 'Mov2'">
                </div>
              </div>

          </div>

        </div>
    </div>

  </body>
</html>
