<!DOCTYPE html>
<html ng-app='MovieApp'>
  <head>
    <meta charset="utf-8">
    <script src="angular.min.js"></script>
    <script src="app.js"></script>
    <link rel="stylesheet" href="style.css">
    <title>fliqpick</title>

  </head>
  <body>
    <div ng-controller="MovieController">
      <div class="top">
      <h1>Choose your favorite movie</h1>
      <p>Pick which movie you like most of this fight</p>
      </div>
          <div class="left">
              {{ movieOne.Title }}
              ({{ movieOne.Year}})
              <button ng-click="pickMovie()">Pick Movie</button>
              <button ng-click="changeMovie()">I have not seen Movie</button>
              <br>
              <br>
              <img ng-src="posters/{{movieOne.Poster}}.jpg">
          </div>
          <div class="center">
          <button type="button" name="View Toplist">Go to toplist</button>
          </div>

          <div class="right">
              {{ movieTwo.Title }}
              ({{ movieTwo.Year}})
              <button ng-click="pickMovie()">Pick Movie</button>
              <button ng-click="changeMovie()">I have not seen Movie</button>
              <br>
              <br>
              <img ng-src="posters/{{movieTwo.Poster}}.jpg">
          </div>
    </div>
  </body>
</html>
